.porta {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color :#AAAAAA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portaEscolhida{
  background-color :#0000FF;
}

.portaErrada{
  background-color :#FF0000;
}


#portas{
  display: flex;
}